@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sora";
  src: url("../../public/assets/font/Sora/Sora-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Sora";
  src: url("../../public/assets/font/Sora/Sora-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Sora";
  src: url("../../public/assets/font/Sora/Sora-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Sora";
  src: url("../../public/assets/font/Sora/Sora-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Sora";
  src: url("../../public/assets/font/Sora/Sora-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Sora";
  src: url("../../public/assets/font/Sora/Sora-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Sora";
  src: url("../../public/assets/font/Sora/Sora-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Sora";
  src: url("../../public/assets/font/Sora/Sora-ExtraBold.ttf");
  font-weight: 80;
}

html {
  font-family: "Sora";
  font-size: small;
  background-color: #fff;
}

.doodleBg {
  background-color: #000;
  background-image: url("../../public/images/doodle.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.doodleBgBlue {
  background-color: #6197ff;
  background-image: url("../../public/images/doodle.png");
  background-repeat: no-repeat;
  background-size: cover;
}
